@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,700;1,600&family=Ubuntu:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{   /*USED FOR ALL LEFT-RIGHT FORMATTING TO KEEP IT THE SAME */
    /* max-width: 1300px; */
    padding-left: 190px;
    padding-right: 190px;
    /* margin: auto; */
}
.navbar{
    position: fixed;
    width: 100%;
    padding-bottom: 15px;
    padding-top: 15px;
    background: red;
    font-family: 'Ubuntu', sans-serif;
    transition: all 0.3s ease;
    z-index: 999;
}
.navbar.sticky{
    padding: 8px 0;
    background: lightskyblue;
}
.navbar.sticky .menu li :hover{
    color: red;
}

.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.navbar .logo a{
    color: white;
    font-size: 35px;
    font-weight: 600;
}

.navbar .logo span{
    color: lightskyblue;
}

.navbar.sticky .logo span{
    color: red;
}

.navbar .menu li {
    list-style: none;
    display: inline-block;
}
.navbar .menu li a{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-left: 25px;
    transition: color 0.3s ease;
}

.navbar .menu li a:hover{
    color: lightskyblue;
}

/* menu button */
/* .menu-btn{
    color: white;
    font-size: 23px;
    cursor: pointer;
} */


/*home styling*/
.home{
    display: flex;
    background: url("imgs/surf.JPG") no-repeat center;
    background-size: cover;
    height: 90vh;
    color: white;
    min-height: 500px;
    font-family: 'Ubuntu', sans-serif;
}

.home .max-width{
    /* margin: auto 0 auto 40px; */
    margin-top: 20%;
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;   
}

.home .home-content{
    backdrop-filter: blur(5px) brightness(0.5);
    border: 3px solid red;
    padding: 25px;

}

.home.sticky .home-content {
    backdrop-filter: blur(5px) brightness(0.5);
    border: 3px solid lightskyblue;
    padding: 25px;
}

.home .home-content .text-1{
    font-size: 27px;
}

.home .home-content .text-2{
    font-size: 75px;
    font-weight: 600;
    margin-left: -3px;
}

.home .home-content .text-3{
    font-size: 40px;
    margin: 5px 0;

}

.home .home-content .text-3 span{
    color: red;
    font-weight: 500;
}

/* about me section  */
.about{
    margin-top: 85px;
    margin-bottom: 80px;
    padding-left: 200px;
    font-family: 'Poppins', sans-serif;
    /* background: grey; */
}
.about .pic img{
    float: left;
    margin-right: 80px;
    width: 350px;
    height: 400px;
    object-fit: cover;
    overflow: unset;
    border: 10px solid lightskyblue;
}
.about .description{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
}
.about .info .about-name{
    font-size: 40px;
}
.about .info .about-job{
    color: red;
    padding-bottom: 15px;
    font-size: 15px;
}
.about .info .info-list{
    font-size: 20px;
}
.about .info .resume{
    border: 2px solid black;
    background-color: lightblue;
    color: red;
    font-size: 20px;
}

/* My Skills section  */

.skills .skills-container{
    text-align: center;
    font-size: 35px;
}

.skills .skills-container .container{
    float: left;
    width: 50%;
    /* padding: 40px; */
    padding-top: 30px;
    padding-left: 40px;
}

.skills .skills-container .container h4{
    font-size: 30px;
}

@media screen and (max-width: 1000px) {
    *{
      width: 100%;
      /* text-align: center; */
    }
  }
